  body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(231, 226, 226);
    }

    .flip {
      width: 300px;
      height: 400px;
      background-image: url("https://images.pexels.com/photos/6785279/pexels-photo-6785279.jpeg");
      background-size: cover;
      background-position: center;
      transition: background-image 0.3s ease-in-out;
      cursor: pointer;
    }

    .flip:hover {
      background-image: url("https://live.staticflickr.com/8138/29099429912_0659caf55b_b.jpg");
    }